/*---------Color-----------*/

$white-color: #ffffff;
$black-color: #000000;
$text-color:#737373;
$red-color:#CC0000;
$gray-color:#f2f2f2;
$header-one:#04c0e8;
$header-two:#02a0c1;
$border-color: #dfe1e5;
$gradient-bg:($header-one 30%, $header-two 100%);